<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleExecutable</key><string>ResumableFolderCopy</string>
  <key>CFBundleIdentifier</key><string>com.mingzhchen.cygentig-transfer</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Resumable Folder Copy</string>
  <key>CFBundleDisplayName</key><string>Resumable Folder Copy</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>2.5.0</string>
  <key>CFBundleVersion</key><string>8</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en</string><string>zh-Hans</string><string>de</string><string>fr</string><string>it</string>
    <string>es</string><string>pt</string><string>ja</string><string>ko</string><string>ar</string>
  </array>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSHighResolutionCapable</key><true/>
</dict>
</plist>
